[Desktop Entry]
Type=Application
Name=Clipboard Manager
Comment=Gestor de portapapeles con sincronización P2P
Exec=/usr/bin/npm start
Path=/home/poetauv/workspace/clipboard-manager
Icon=/home/poetauv/workspace/clipboard-manager/assets/icon.png
Terminal=false
StartupNotify=false
StartupWMClass=clipboard-manager
X-GNOME-Autostart-enabled=true
Hidden=false
